.footer-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--black);

  padding-top: 45px;
  padding-bottom: 12px;
}

.footer-section__container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer-section__info{
  display: flex;
  justify-content: space-around;
}

.footer-section__contact span{
  color: var(--white);
  font-family: 'Poppins';
  font-size: 1.25rem;
}

.footer-section__contact ul{
  list-style: none;
}

.footer-section__contact li{
  margin: 8px 0;
}

.footer-section__contact ul li span{
  font-size: 0.8rem;
  font-family: 'Montserrat';
  color: var(--white);
}

.footer-section__contact ul li a{
  font-size: 0.8rem;
  font-family: 'Montserrat';
  color: var(--white) ;
  text-decoration: none;
}


.footer-section__button{
  justify-self: center;
}
.footer-section__button button{
  padding: 8px 20px;
  background-color: var(--red);
  color: var(--white);
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;

  transition: transform 0.2s ease-in-out;
}

.footer-section__button button:hover{
  transform:scale(1.05,1.05);
}

.footer-section__dedicatoria{
  color: var(--white);
  font-family: 'Poppins';
  font-size: 0.85rem;
  font-weight: bold;
}

.footer-section__dedicatoria:hover{
  opacity: 0.6;
}