.login {
    display: block;
    min-height: 100%;
    max-width: 100%;
}

.login__banner {
    display: flex;
    justify-content: right;
}

.login__form {
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 20px;
    align-items: start;
    padding-top: 120px;
    margin-left: 150px;
}

.login__logo {
    padding: 20px;
    align-self: center;
}

.login__welcome {
    width: 100%;
}

.login__welcome span {
    font-weight: 500;
    font-family: Montserrat, sans-serif;
    width: 100%;
}

.login__welcome h1 {
    width: 100%;
    font-weight: 700;
    font-family: Poppins, sans-serif;
}

.login__form form {
    width: 100%;
}

.login__field {
    padding-bottom: 10px;
}

.login__field label {
    width: 100%;
    font-weight: bold;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
}

.login__field input {
    width: 100%;
    background-color: transparent;
    border-color: #263238;
    border-width: 1px;
    border-radius: 5px;    
    font-size: 16px;
    padding: 15px;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
}

.login__checkbox {
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.login__checkbox input {
    border: 1px solid #192026;
    box-sizing: border-box;
}

.login__buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.login__buttons button {
    width: 100%;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 15px;
}

.login__login-button {
    background: #E6191E;
    font-family: Montserrat, sans-serif;
    color: #FFFFFF;
}

.login__signin-button {

    background: var(--white);
    font-family: Poppins, sans-serif;
    color: var(--black);
}

.login__signup-button {
    background-color: #f6e8e6;
    color: #F25C27;
    font-family: Poppins, sans-serif;
}








/*background-image:url(back-login.png);
    padding-top: 100px;
    padding-right: 230px;



    background-repeat: no-repeat;
    background-size:contain;
    background-position-x: ;


.background-section img {
    position: fixed;
    min-width: 1024px;
    min-height: 100%;
    margin-left: 39%;
    margin-top: 1px;

}

.login-section {
    padding:80px;    
    width: 55%; 
    position: absolute; 
    margin-left: 20px;  
}

.login-section__img {
    padding-left: 18%;
}

.login-section__container {
    color: var(--font-color);
    padding: 60px;    
}

.login-section__frases{
    width:60%;
    font-family: Poppins;
    margin-bottom: 10px;
}

.login-section__frases p{
    margin-bottom: 0px;
}

.login-section__text-fields {
    font-weight: bold;
}

.login-section__text-fields input[type=text] {
    width:60%;
    background-color: transparent;
    padding: 10px 10px;   
    font-size: 16px;    
    border-color: var(--black);
    border-width: 1px;
    border-radius: 5px;
    text-align: left;
    margin-bottom: 5px;
}

.login-section__text-fields input[type=password] {
    width:60%;
    background-color: transparent;
    padding: 10px 10px;    
    font-size: 16px;    
    border-color: var(--black);
    border-width: 1px;
    border-radius: 5px;
    text-align: left;
}

.login-section__buttons {
    font-weight: bold;
    padding: 10px 0 10px 0;
}

.login-section__buttons input[type=checkbox] {
    box-sizing: border-box;
}

.login-section__buttons__login-button {
    width:60%;
    padding: 10px 120px;
    background-color: var(--red);
    color: var(--white);
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

.login-section__buttons__signin-button {
    width:60%;
    padding: 10px 120px;
    background-color: var(--white);
    color: var(--black);
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    margin: 10px 0px 0px 0;
}