.left-section {
    position: absolute;
    min-width: 50%;
    min-height: 100%;    
    color: var(--font-color);
    padding-top: 45px;
    background-color: var(--yellow);
}

.left-section__frases-white h1 {
    margin-left: 20%;
    font-family: Poppins;  
    color: var(--white);
    margin-bottom: 0px;
}

.left-section__frases-black h1 {
    margin-left: 20%;
    font-family: Poppins;  
    color: var(--black);
    margin-bottom: 0px;
}

.left-section__image img {
    min-width: 65%;
    min-height: 100%;    
}

.signup-section {
    position: absolute;
    min-width:50%;
    text-align: left;
    padding:45px;
    margin-inline-start: 65%; 
    margin-top: 60px;   
}

.signup-section__frases {
    width:50%;
    font-family: Poppins;
    text-align: justify;
    padding-left: 10px;
}

.signup-section__text-fields label {
    font-weight: bold;
    margin-top: 10px;
}

.signup-section__text-fields input[type=text] {
    width:416px;
    background-color: var(--white);
    padding: 10px 10px;   
    font-size: 16px;    
    border-color: #D9D9D9;
    border-width: 1px;
    border-radius: 5px;
    text-align: left;

}

.signup-section__text-fields input[type=password] {
    width:416px;
    background-color: var(--white);
    padding: 10px 10px;    
    font-size: 16px;    
    border-color: #D9D9D9;
    border-width: 1px;
    border-radius: 5px;
    text-align: left;
}

.signup-section__buttons {
    font-weight: bold;
    padding: 10px 0 10px 0;
    width:416px;
}

.signup-section__buttons__clear-button {
    padding: 10px 40px;
    background-color: rgba(242, 92, 39, 0.1);
    color: var(--red);
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

.signup-section__buttons__register-button {
    padding: 10px 60px;
    background-color: var(--red);
    color: var(--white);
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    margin: 0px 0px 0px 47px;
}

.signup-section__policy {
    width:416px;
    text-align: center;
    font-family: Poppins;
    margin-top: 10px;
}