.signup{
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.signup__banner{
  background-color: var(--yellow);
  width: 50%;

  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-around;
}

.signup__banner{
  width: 60%;
}

.signup__banner-title{
  padding: 20px;
  align-self: center;
}

.signup__banner-title h1{
  font-weight: 900;
  font-family:  Poppins, sans-serif;
  color: var(--white);
}
.signup__banner-title span{
  color: #263238;
}

.signup__form{
  width: 40%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.signup__welcome{
  display: flex;
  flex-direction: column;
}

.signup__welcome h1{
  font-weight: 900;
  font-family:  Poppins, sans-serif;
}

.signup__welcome span{
  font-weight: 500;
  font-family:  Poppins, sans-serif;
}

.signup__welcome a{
  font-weight: bold;
  color: #F25C27;
}

.signup__welcome a:hover{
  color: #F25C27;
}

.signup__form form{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.signup__field{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.signup__field label{
  font-family: Montserrat,sans-serif;
  font-weight: 700;
}

.signup__field input{
  border-radius: 5px;
  border: 1px solid #D9D9D9;
  padding: 10px 20px;
}
.signup__field input:focus{
  border-color: blue;
  outline: none;
}

.signup__buttons{
  display: flex;
  gap: 30px;
  margin-top: 10px;
}

.signup__buttons button{
  padding: 10px 25px;
  border-radius: 6px;
  outline: none;
  border: none;
  font-weight: bold;
}

.signup__buttons .signup__clean{
  background-color: #f6e8e6;
  color: #F25C27;
}

.signup__buttons .signup__confirm{
  background-color: var(--red);
  color: var(--white);
}

.signup__policy{
  width: 80%;
  text-align: center;
}

.signup__policy span{
  color: var(--gray);
}

.signup__policy a{
  color: #F25C27;
}

.signup__policy a:hover{
  color: #F25C27;
}





/* .left-section {
    position: absolute;
    min-width: 50%;
    max-height: 100%;    
    color: var(--font-color);
    padding: 18px 0;
    background-color: var(--yellow);
}

.left-section__frases-white h1 {
    margin-left: 20%;
    font-family: Poppins;  
    color: var(--white);
    margin-bottom: 0px;
}

.left-section__frases-black h1 {
    margin-left: 20%;
    font-family: Poppins;  
    color: var(--black);
    margin-bottom: 0px;
}

.left-section__image img {
    min-width: 65%;
    max-height: 100%;    
}

.signup-section {
    padding-top: 80px;
    position: static;    
    text-align: left;    
    margin-inline-start: 65%;     
    max-height: 100%;   
}

.signup-section__frases {
    font-family: Poppins;
    text-align: justify;
    padding-left: 10px;
}

.signup-section__text-fields label {
    font-weight: bold;
    margin-top: 10px;
}

.signup-section__text-fields input[type=text] {
    width:416px;    
    background-color: var(--white);
    padding: 10px 10px;   
    font-size: 16px;    
    border-color: #D9D9D9;
    border-width: 1px;
    border-radius: 5px;
    text-align: left;

}

.signup-section__text-fields__block input[type=text] {
    display:inline-block; 
    width: 200px;
    margin-right: 12px;
}

.signup-section__text-fields input[type=password] {
    width:416px;    
    background-color: var(--white);
    padding: 10px 10px;    
    font-size: 16px;    
    border-color: #D9D9D9;
    border-width: 1px;
    border-radius: 5px;
    text-align: left;
}

.signup-section__buttons {    
    font-weight: bold;
    padding: 40px 0 10px 0;    
}

.signup-section__buttons__clear-button {
    padding: 10px 40px;
    background-color: rgba(242, 92, 39, 0.1);
    color: var(--red);
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

.signup-section__buttons__register-button {
    padding: 10px 60px;
    background-color: var(--red);
    color: var(--white);
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    margin: 0px 0px 0px 47px;
}

.signup-section__policy {    
    text-align: center;
    font-family: Poppins;
    margin-top: 10px;
    width:416px;
} */