<!-- Footer -->
<footer class="footer-section">
  <div class="container footer-section__container">
    <div class="footer-section__img">
      <img src="assets/fp2.png" alt="logo footer" class="img-fluid" />
    </div>
    <div class="footer-section__info">
      <div class="footer-section__contact">
        <span>Comunidade</span>
        <ul>
          <li><a href="#">Instagram</a></li>
          <li><a href="#">Facebook</a></li>
          <li><a href="#">Twitter</a></li>
        </ul>
      </div>
      <div class="footer-section__contact">
        <span>Fale conosco</span>
        <ul>
          <li><span>(85) 98640-3158</span></li>
          <li><span>(85) 98752-3698</span></li>
          <li><span>(85) 9985-2695</span></li>
        </ul>
      </div>
    </div>
    <div class="footer-section__button">
      <button>
        <a href="/entrar">Login</a>
      </button>
    </div>
  </div>
  <span class="footer-section__dedicatoria">Desenvolvido com ❤</span>
</footer>