<!-- Barra de navegação -->
<nav class="navbar navbar-collapse navbar-expand-lg">
  <div class="container navbar-container">
    <a class="navbar-brand" href="#">
      <img src="assets/fp1.png" alt="logo" class="img-fluid" />
    </a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="#">Sobre nós</a>
        <a class="nav-link" href="#">Promoções</a>
        <a href="/entrar" class="navbar-nav__login">Login</a>
      </div>
    </div>
  </div>
</nav>