<%- include('partials/admin-navbar.ejs') %>

<section class="edit-profile">
	<div class="container edit-profile__content">
		<h1>Editar Perfil <%= user.nome %></h1>
		<img class="edit-profile__photo rounded" src="https://exame.com/wp-content/uploads/2021/02/GettyImages-1149947037-1.jpg" alt="perfil"/>

		<form id="edit-profile__form">
			<div class="edit-profile__field">
				<label for="fname-lname">Nome</label>
				<input type="text" id="edit_name" value=<%= user.nome %> required placeholder="editar nome e sobrenome">
			</div>
			<div class="edit-profile__field">
				<label for="email">Email</label>
				<input type="text" id="edit_email" name="email" value=<%= user.email %> required placeholder="email@example.com">     
			</div>
			<div class="edit-profile__field">
				<label for="password">Senha</label>
				<input type="password" id="edit_password" placeholder="********">   
			</div>
	
			<div class="edit-profile__buttons">
				<button type="submit" class="btn btn-success edit-profile__save">Salvar</button>
				<button type="submit" class="btn btn-danger edit-profile__cancel">Cancelar</button>
			</div>
		</form>
	</div>
</section>

<script src="scripts/iziToast.js" type="text/javascript"></script>
<script src="scripts/field-validation.js" type="text/javascript"></script>
<script src="scripts/edit-prof.js" type="text/javascript"></script>
