<nav class="navbar navbar-collapse navbar-expand-lg">
  <div class="container navbar-container">
    <a class="navbar-brand" href="#">
      <img src="assets/fp1.png" alt="logo" class="img-fluid" />
    </a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/admin">Home</a>
        <a class="nav-link" href="/editar">Perfil</a>
        <a class="nav-link" href="#">Foto perfil</a>
      </div>
    </div>
  </div>
</nav>